{% extends 'base.html' %}
{% block title %}
contact us
{% endblock %}
{% block content %}
<body style="background-color:#656e73">
<div class="container">
  <div style="text-align:center">
    <h5>Contact Us</h5>
      <h6>movie hub </h6>
        <h6>+91 xxxxxxxxxx</h6>
        <h6>moviehub@gmail.com</h6>
      <p>Follow us: </p>
				<i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
<br>
      <h6><a href="/">Home</a></h6>
  </div>
{% endblock %}

